# Programming Task 1

Please submit this document to iCollege by **2021/1/24 11:00pm**. Late submission will not be accepted.

Q1. Translate the following into Python algebraic or Boolean expressions and then evaluate them:
a)	The difference between Annie’s age (25) and Ellie’s (21)
b)	The total of $14.99, $27.95, and $19.83
c)	The area of a rectangle of length 20 and width 15
d)	2 to the 10th power
e)	The minimum of 3, 1, 8, -2, 5, -3, and 0
f)	3 equals 4-2
g)	The value of 17//5 is 3
h)	The value of 17%5 is 3
i)	284 is even
j)	284 is even and 284 is divisible by 3
k)	284 is even or 284 is divisible by 3

Please write your code below, and run your code to get the result. For example, for question a) and b)

In [1]:
25-21

4

In [2]:
14.99+27.95+19.83

62.769999999999996

In [3]:
20*15

300

In [5]:
2**10

1024

In [6]:
min(3, 1, 8, -2, 5, -3, 0)

-3

In [7]:
3 == 4-2

False

In [8]:
17/5 == 3

False

In [10]:
17%5 == 3

False

In [12]:
284%2 == 0

True

In [13]:
284%2 == 0 and 284%3 == 0

False

In [14]:
284%2 == 0 or 284%3 == 0

True

Q2. List lst is a list of prices for a pair of boots at different online retailers 
(a) You found another retailer selling the boots for $160.00; add this price to list lst
(b) Compute the number of retailers selling the boots for $160.00
(c) Find the minimum price in lst
(d) Using c), find the index of the minimum price in list lst  
(e) Using c) remove the minimum price from list lst
(f) Sort list lst in increasing order

In [22]:
lst = [159.99, 160.00, 205.95, 128.83, 175.49]

In [23]:
lst.append(160.00)

[159.99, 160.0, 205.95, 128.83, 175.49, 160.0]

In [25]:
lst.count(160.00)

2

In [26]:
min(lst)

128.83

In [28]:
lst.index(128.83)

3

In [29]:
lst.remove(min(lst))

In [32]:
lst.sort()

[159.99, 160.0, 160.0, 175.49, 205.95]

Q3. Write a Python expression that assigns to variable c

(a) The length of the hypotenuse in a right triangle whose other two sides have lengths 3 and 4
(b) The value of the Boolean expression that evaluates whether the length of the above hypotenuse is 5
(c) The area of a disk of radius 10
(d) The value of the Boolean expression that checks whether a point with coordinates (5, 5) is inside a circle with center (0,0) and radius 7.

In [34]:
import math

In [43]:
c = math.sqrt((3**2) + (4**2))

5.0

In [45]:
c = c == 5

False

In [48]:
rad = 10
c = math.pi*pow(rad, 2)
c

314.1592653589793

In [57]:
point_x = 5
point_y = 5
center_x = 0
center_y = 0
radius = 7
hyp = math.sqrt(pow(point_x-center_x, 2) + pow(point_y-center_y, 2)) 
hyp < radius

False